{% extends 'core.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %} 
<div class="p-10 lg:p-20 text-center">
    <h3 class="text-3xl lg:text-6xl text-white">Rooms</h3>
</div>
<form action="upload" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        
                 

         <div class="input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text" id="inputGroupFileAddon00">enter name</span>
             </div>
             <input type="text" name="name" id="title" class="form-control" placeholder=""
                 aria-describedby="inputGroupFileAddon00" autocomplete="off">
         </div>

         <div class="form-group mt-3">
             <!-- <div class="input-group-prepend">
                                                     <span class="input-group-text" id="inputGroupFileAddon01">Want
                                                         to share something?</span>
                                                 </div> -->
                                                 <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="inputGroupFileAddon00">enter slug</span>
                                                    </div>
                                                 <input type="text" name="slug" id="title" class="form-control" placeholder=""
                                                 aria-describedby="inputGroupFileAddon00" autocomplete="off">
         </div>
         <div id="preview"></div>
         <div class="input-group-lg">
             <input type="submit" class="btn btn-primary w-100 mt-3" name="post" value="create room!">
         </div>

     </form>
<div class="w-full flex flex-wrap items-center">
    {% for room in rooms %}
        <div class="w-full lg:w-1/4 px-3 py-4">
            <div class="p-4 bg-white shadow rounded-xl text-center">
                <h2 class="mb-5 text-2xl font-semibold">{{ room.name }}</h2>
                <a href="{% url 'room' room.slug %}" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Join</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

